.button-area{
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width:300px
}
.color-red{
  background-color: firebrick
}

.color-green{
  background-color: mediumseagreen,
  
}

.modal{
  background-color: 'rgba(0,0,0,0.3)';
}
